@import ./__cover/card__cover
@import ./__date/card__date
@import ./__description/card__description
@import ./__genre/card__genre
@import ./__genres/card__genres
@import ./__info/card__info
@import ./__title/card__title
@import ./__rating/card__rating

.card
  width: 451px
  height: 279px
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15)
  display: flex