.movies-list
  background-color: #FFFFFF
  width: 1002px
  min-height: 1147px
  box-sizing: border-box
  margin: 0 auto
  padding: 21px 32px
  display: flex
  align-content: flex-start
  flex-wrap: wrap
  gap: 36px