.card__rating
  font-family: Inter
  position: absolute
  width: 30px
  height: 30px
  border-radius: 50%
  border: 2px solid red
  top: 8px
  right: 8px
  text-align: center
  font-size: 12px
  line-height: 29px
  font-weight: 700
  cursor: default

@media screen and (max-width: 509px)
  .card__rating
    top: 5px
    right: 6px